node_modules
# Keep environment variables out of version control
.env
.env.*
!.env.example
.env.bak

# Next.js
.next/
out/

# Prisma
/app/generated/prisma

# OS files
.DS_Store

# Misc
pg_hba.conf.save
